<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Lyrics Searach</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon-512.ico') }}">
	<style type="text/css">{% include "assets/bootstrap/css/bootstrap.min.css" %}/</style>
	<style type="text/css">{% include "assets/css/styles.css" %}/</style>
	<!--script src="https://cdn.rawgit.com/lesander/console.history/v1.4.0/console-history.min.js"></script-->
</head>

<body>
	<div class="overlay" onclick="">
		<div class=" container">
			<div class="col-md-12 t-m-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" id="panel-title">...</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-11 col-md-9 col-sm-11 col-xs-9">
								<p class="" id="panel-body">...</p>
							</div>
							<div class="col-lg-1 col-md-2 col-sm-1 col-xs-3">
								<button class="btn btn-default fl-r" id="closeOverlayButton" onclick="hideOverlay()">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
			<div class="col-md-12">
					<div class="page-header">
							<h3><div class="page-main-header"  onclick="window.location='/'">My Lyrics Searach</div><small> Search your songs for lyrics</small></h3></div>
			</div>
			<div class="col-lg-5 col-md-4 col-xs-8" id="login-out-column">
					<div class="separator2"><a href="/login" id="btn-login" class="headerLink" tabindex="5">Login </a><a href="/logout" id="btn-logout" class="headerLink" tabindex="6">Logout </a></div>
			</div>
	</div>
	</div>
	<div class="container">
		<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Select page</h3></div>
					<div class="panel-body">
						<!--
<form onsubmit="">
							<div class="row">
								<div class="col-md-10 col-sm-10 col-xs-10">
									<div class="separator">
										<input class="form-control" id="linktextbox" autocomplete="on" type="url" inputmode="url"
										placeholder="http://SomePage.com/ThatBlogEntry.html" onchange="linktextboxChanged();" autofocus tabindex="1">
									</div>
								</div>
								<!-div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
									<div class="separator">
										<button class="btn btn-default float-right" type="submit">Select </button>
									</div>
								</div->
							</div>
						</form>-->


						<form id='searchform'> <!--onsubmit="search(this.searchbox);return false;"						 -->
							<div class="row">
								<!--
<div class="col-md-2 col-sm-2 col-xs-3">
									<div class="separatorLabel">
										<label class="floating">Search terms</label>
									</div>
								</div>-->


								<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
									<div class="separator">
										<input class="form-control" type="text" id="searchbox" name="searchbox" onchange="searchboxChanged(this);" placeholder="Search" autocomplete="off" tabindex="1">
									</div>
								</div>
								<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
									<div class="separator">
										<button class="btn btn-default textboxbutton" type="submit" tabindex="2">Search</button>
									</div>
								</div>
							</div>
						</form>
						<!--
<div class="row spacer">
							<div class="col-md-12">
								<hr>
							</div>
						</div>
						<form>
							<div class="row">
								<div class="col-md-12 col-xs-12">
									<!-
									<div class="separator inline">
										<button class="btn btn-default" type="button" onclick="calculateRating()">Calculate </button>
									</div>
									<div class="hseparator"></div>->
									<div class="separator inline">
										<button class="btn btn-default" type="button" onclick="getRating()" tabindex="4">Get user Rating</button>
									</div>
								</div>
							</div>
						</form>-->


						</div>
					</div>
					<div class="panel panel-default">
					    <!--
<div class="panel-heading">
					        <h3 class="panel-title">Search results</h3></div>-->


					    <div class="panel-body">
					        <div class="row">
					            <div class="col-md-12">
					                <ol class="searchResults">
					                    <p id="searchresultsPlaceHolder">Start typing...</p>
					                </ol>
					            </div>
					        </div>
					    </div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">{% include "assets/js/jquery.min.js" %}</script>
	<script type="text/javascript">{% include "assets/bootstrap/js/bootstrap.min.js" %}</script>
	<script type="text/javascript">{% include "assets/js/main.js" %}</script>
</body>

</html>
